body,
html {
	font-family: 'Open Sans', sans-serif;
	color: #666;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}

h2 {
	margin: 0 0 20px 0;
	font-weight: 600;
	font-size: 36px;
	color: #333;
}

h3,
h4 {
	font-size: 20px;
	font-weight: 400;
	color: #333;
}

h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}


a {
	color: #BF0129;
	font-weight: 400;
}


hr {
	height: 3px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #BF0129;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 0;
}

/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}

#menu.navbar-default {
	background-color: rgba(0, 0, 0, 0.87);
	border-color: rgba(231, 231, 231, 0);
}

#menu a.navbar-brand {
	font-size: 26px;
	font-weight: 600;
	color: #eee;
}

#menu.navbar-default .navbar-nav {
	text-transform: uppercase;
	color: #ddd;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 8px 2px;
	border-radius: 0;
	margin: 9px 20px 0 20px;

}



.on {
	background-color: #333 !important;
	padding: 0 !important;
	padding: 15px 0 !important;
}

.navbar-default .navbar-nav a:hover {
	color: #BF0129 !important;
	background-color: transparent;
}

.navbar-toggle {
	border-radius: 0;
}


.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #BF0129;
}

.section-title {
	margin-bottom: 70px;
}

.section-title p {
	font-size: 18px;
	color: #666;
}

.right-btn-about {
	position: right;
}

.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #8BD71C;
	padding: 14px 20px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 17px;
	font-weight: 400;
	border-radius: 6px;
	margin-top: 20px;
	transition: all 0.3s;
}



/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url("../img/homepage.jpg");
	background-color: #e5e5e5;
	background-size: cover;
}



.intro .fa {
	font-size: 94px;
	margin-bottom: 40px;
	color: #fff;
}

.intro h1 {
	color: #fff;
	font-size: 64px;
	font-weight: 700;
	letter-spacing: -1px;
	margin-top: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.intro p {
	color: #fff;
	font-size: 22px;
	margin-top: 20px;
	line-height: 28px;
	margin-bottom: 40px;
}

.intro .btn-custom {
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

header .intro-text {
	padding-top: 320px;
	padding-bottom: 200px;
	text-align: center;
}

/* About Section */
#about {
	padding: 120px 0 80px 0;
	background: #f6f6f6;
}

#about h3 {
	font-size: 22px;
	font-weight: 600;
	margin: 20px 0 0 0;
}

#about .about-text span {
	color: #70ad47;
	font-weight: 700;
	letter-spacing: -1px;
}

#about hr {
	margin-left: 0;
	margin-bottom: 40px;
}

#about .btn {
	margin-top: 40px;
}

#about .about-media img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}

#about .about-text,
#about .about-desc {
	margin-bottom: 40px;
}

#about p {
	line-height: 24px;
	margin-top: 20px;
}

/* Services Section */
#services {
	padding: 120px 0;
	background: #6aaf08;
}

#services .service-media {
	margin: 10px;
}

#services .service-media img {
	position: relative;
	width: 225px;
	height: 225px;
	border-radius: 50%;
	border: 10px solid rgba(255, 255, 255, 0.1);
}

#services .service-desc {
	margin: 10px 10px 40px;
	text-align: center;
}

#services h2 {
	color: #fff;
}

#services h3 {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	padding: 5px 0;
}

#services p {
	color: rgba(255, 255, 255, 0.9);
}

#services hr {
	background: rgba(255, 255, 255, 0.6);
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}

.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 300;
	text-transform: uppercase;
}

.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.hover-bg:hover .hover-text {
	opacity: 1;
}

/* Contact Section */
#contact {
	padding: 100px 0;
	background: #F6F6F6;
}

#contact .section-title p {
	color: #777;
}

#contact form {
	padding: 0;
	margin-top: 40px;
}

#contact h3 {
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 600;
}

#contact .text-danger {
	color: #cc0033;
	text-align: left;
}

label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}

#contact .form-control:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 15px #ddd;
	box-shadow: 0 0 15px #ddd;
}

.form-control {
	color: #777;
}

.cards {
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.margo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap:30px;
}
@media (max-width:767px){
	.margo {
		justify-content: center;
	}
}


#contact .contact-info {
	margin-bottom: 30px;
}

#contact .contact-info hr {
	background: #ddd;
}

#contact .contact-item {
	margin: 20px 0 40px 0;
}

/* Footer Section*/
#footer {
	background: #333;
	padding: 30px 0 20px;
}

#footer h3 {
	color: #1e7a46;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}



#footer p {
	color: #666;
	font-size: 15px;
}

#footer a {
	color: #888;
}

#footer a:hover {
	color: #ccc;
}

.fa-instagram {
	opacity: 50%;
	color: green;
	position: absolute;
	bottom: 30px;
	left: 440px;
}



#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #000;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
	color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none;
}

@media(min-width:768px) {
	#wrapper {
		padding-left: 250px;
	}

	#wrapper.toggled {
		padding-left: 0;
	}

	#sidebar-wrapper {
		width: 250px;
	}

	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}

	#page-content-wrapper {
		padding: 20px;
		position: relative;
	}

	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
}

.cart-container {
	height: 1000px;
}

.form-container{
	margin-top: 50px;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding:20px;
      background: #eee;
   }   

.form-container form{
      padding:20px;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0,0,0,.1);
      background: white;
      text-align: center;
      width: 500px;
}
.form-container h2{
      font-size: 30px;
      text-transform: uppercase;
      margin-bottom: 10px;
      color: #333;
}
.form-container form input{
      width: 90%;
      padding:10px 15px;
      font-size: 17px;
      margin:8px 0;
      background: #eee;
      border-radius: 5px;
}
.form-container form .form-btn{
	color: #fff;
	background: #8BD71C;
      text-transform: capitalize;
      font-size: 20px;
      cursor: pointer;
      width: 80%;
      padding:10px 15px;
      margin:8px 0;
      border-radius: 5px;

   }
   
   .form-container form .form-btn:hover{
      background: #fff;
      color:#8BD71C;
   }
   
   .form-container form p{
      margin-top: 10px;
      font-size: 20px;
      color:#333;
   }
   
   .form-container form p a{
      color: #8BD71C;
   }

   #page-wrapper {
	background-color: #F1F1F1 !important;
  }
  
  
  
  .product_image {
  
  width: 200px !important;
  height: 100px !important;
  
  
  }
  
  #admin_sidebar .form-group {
  
  background-color: #fff;
  padding: 8px;
  
  }
  
  #admin_sidebar .form-group hr {
  
  margin-top: 10px;
  margin-bottom: 10px;
  
  
  }
  
  #admin_sidebar .btn{
  
  width: 49%;
  
  }
.imgs-contoh img {
	max-width: 100%;
	border-radius: 5px;
}